body{
	margin: 0;
	font-family: 'Abel', sans-serif;
	color: white;
}
.gap{
	margin-top: 20px;
	float: left;
	width: 33.33%;
	padding: 10px;
}

.col-image{
	width: 100%;
	height: 500px;
}

.display-1{
	font-size: 70px;
}

.display-2{
	font-size: 40px;
}

.lead{
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 70px;
}

.bg-img{
	background-image: url("images/security.jpg");
	background-size: cover;
	height: 100vh;
	position: relative;
	background-position-y:-300px;
}

.navbar {
	position: absolute;
	top: 20px;
	left: 20px;
}

.text1{
	background-image: url("images/band.jpg");
	text-align: center;
	font-size: 40px;
	background-size: cover;

}

.text2{
	background-image: url("images/iphone.jpg");
	text-align: center;
	font-size: 40px;
	background-size: cover;
	background-position-y: -229px;
}

.text3{
	background-image: url("images/Delivery2.jpg");
	text-align: black;
	font-size: 40px;
	background-size: cover;
}


.vertical-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.largebox{
	height: 400px;

}

.headercolor{
	background-color: #d9d9d9;
	background-position: fixed;
}

.button-color{
	background-color: #4d94ff;
	border-color: #4d94ff;
}
.jumbotrongap{
	margin-bottom: 0rem;
}

.navbar-light .navbar-brand {
	color: white;
	font-size: 40px;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
	font-size: 25px;
}


